#banner {
    background-image: url(../images/mountains/banner.jpg);
    height: 360px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 60px;
  text-align: center;
}
#banner > h1 {
  font-size: 80px;
  color: white;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

#mountain-container {
align-self: center;
display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#mountain-content {
  padding-top: 10px;
  align-self: center;
  width: 90%;
  display: flex;
      justify-content: center;
      align-self: center;
      flex-wrap: nowrap;
      flex-direction: column;
  }

  #mtn-desc {
   display: flex;
  }
  
  #mtn-desc > img {
    max-width: 300px ;
    height: auto;
    align-content: center;
  }
  
  #mtn-info {
    padding: 20px;
   }
   
.carousel {
   transition: transform 2s ease, opacity .5s ease-out;
  height: 300px;
  width: 300px;
  border: lightgrey;
  border-style: dotted;
}

#np-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .form-check {
    margin: 0 10px;
  }

  .form-select {
    margin: 10px;
    width: 75%;
    justify-content: center;
  }

  .filter-controls {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  